In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
import warnings
warnings.filterwarnings('ignore')

In [4]:
defaulter_df = pd.read_csv("survey lung cancer.csv")
defaulter_df.head()

,GENDER,AGE,SMOKING,YELLOW_FINGERS,ANXIETY,PEER_PRESSURE,CHRONIC DISEASE,FATIGUE,ALLERGY,WHEEZING,ALCOHOL CONSUMING,COUGHING,SHORTNESS OF BREATH,SWALLOWING DIFFICULTY,CHEST PAIN,LUNG_CANCER
0,M,69,1,2,2,1,1,2,1,2,2,2,2,2,2,YES
1,M,74,2,1,1,1,2,2,2,1,1,1,2,2,2,YES
2,F,59,1,1,1,2,1,2,1,2,1,2,2,1,2,NO
3,M,63,2,2,2,1,1,1,1,1,2,1,1,2,2,NO
4,F,63,1,2,1,1,1,1,1,2,1,2,2,1,1,NO

In [5]:
print("Size of the data : ", defaulter_df.shape)

Size of the data :  (309, 16)

In [7]:
print("Target variable frequency distribution : \n", defaulter_df["LUNG_CANCER"].value_counts())

Target variable frequency distribution :
 YES    270
NO      39
Name: LUNG_CANCER, dtype: int64

In [8]:
plt.figure(figsize = (10,8))
sns.countplot(defaulter_df["LUNG_CANCER"])
plt.title("Frequency distribution of the target variable - Default")
plt.show()

ValueError: could not convert string to float: 'YES'

In [9]:
X = defaulter_df[["SMOKING", "ANXIETY"]]
y = defaulter_df["LUNG_CANCER"]

In [10]:
from sklearn.model_selection import train_test_split

In [11]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size = 0.2, random_state = 42)

In [12]:
print("Size of training data : ", X_train.shape[0])
print("Size of test data : ", X_test.shape[0])

Size of training data :  247
Size of test data :  62

In [13]:
from sklearn.preprocessing import MinMaxScaler

In [14]:
min_max = MinMaxScaler()
min_max.fit(X_train)
train_transformed = min_max.transform(X_train)
transformed = min_max.transform(X_test)
transformed

array([[0., 1.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [1., 0.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [1., 0.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 0.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [0., 1.],
       [0., 1.],
       [0., 1.],
       [1., 1.],
       [1., 1.],
       [1., 1.],
       [1., 0.],
       [0., 1.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [1., 0.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 0.],
       [1., 1.],
       [0., 0.],
       [0., 1.],
       [1., 1.],
       [0., 1.],
       [1., 0.],
       [1., 0.],
       [0., 1.]])

In [17]:
X_train["smoke_normalized"] = train_transformed[:,0]
X_train["anxiety_normalized"] = train_transformed[:,1]
X_train.head()

,SMOKING,ANXIETY,balance_normalized,income_normalized,smoke_normalized,anxiety_normalized
126,2,1,1.0,0.0,1.0,0.0
109,1,1,0.0,0.0,0.0,0.0
247,1,1,0.0,0.0,0.0,0.0
234,1,1,0.0,0.0,0.0,0.0
202,2,1,1.0,0.0,1.0,0.0

In [18]:
X_test["smoking_normalized"] = transformed[:,0]
X_test["anxiety_normalized"] = transformed[:,1]
X_test.head()

,SMOKING,ANXIETY,balance_normalized,income_normalized,smoking_normalized,anxiety_normalized
288,1,2,0.0,1.0,0.0,1.0
9,2,2,1.0,1.0,1.0,1.0
57,1,1,0.0,0.0,0.0,0.0
60,1,1,0.0,0.0,0.0,0.0
25,1,2,0.0,1.0,0.0,1.0

In [19]:
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score

In [21]:
knn =  KNeighborsClassifier(n_neighbors = 5, metric = "euclidean")
knn.fit(X_train[["SMOKING","ANXIETY"]], y_train)
predictions = knn.predict(X_test[["SMOKING","ANXIETY"]])
test_accuracy = accuracy_score(y_test, predictions)
test_accuracy

0.967741935483871

In [41]:
knn =  KNeighborsClassifier(n_neighbors = 5, metric = "euclidean")
knn.fit(X_train[["balance_normalized","income_normalized"]], y_train)
predictions = knn.predict(X_test[["balance_normalized","income_normalized"]])
test_accuracy = accuracy_score(y_test, predictions)
test_accuracy

0.967741935483871

In [24]:
from sklearn.metrics import confusion_matrix 
from sklearn.metrics import classification_report

In [25]:
cm = confusion_matrix(y_test, predictions)
pd.DataFrame(cm, columns = ["No", "Yes"], index = ["No", "Yes"])

     No  Yes
No    0    2
Yes   0   60

In [26]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          NO       0.00      0.00      0.00         2
         YES       0.97      1.00      0.98        60

    accuracy                           0.97        62
   macro avg       0.48      0.50      0.49        62
weighted avg       0.94      0.97      0.95        62

In [27]:
from imblearn.over_sampling import SMOTE

In [28]:
print("Before SMOTE: \n", y_train.value_counts())

Before SMOTE:
 YES    210
NO      37
Name: LUNG_CANCER, dtype: int64

In [29]:
smote = SMOTE()
X_train_smote, y_train_smote  = smote.fit_resample(X_train, y_train)

In [30]:
print("After SMOTE: \n", y_train_smote.value_counts())

After SMOTE:
 YES    210
NO     210
Name: LUNG_CANCER, dtype: int64

In [40]:
knn =  KNeighborsClassifier(n_neighbors = 5, metric = "euclidean")
knn.fit(X_train_under[["balance_normalized","income_normalized"]], y_train_under)
predictions = knn.predict(X_test[["balance_normalized","income_normalized"]])
test_accuracy = accuracy_score(y_test, predictions)
test_accuracy

NameError: name 'X_train_under' is not defined

In [33]:
cm = confusion_matrix(y_test, predictions)
pd.DataFrame(cm, columns = ["No", "Yes"], index = ["No", "Yes"])

     No  Yes
No    0    2
Yes   0   60

In [34]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          NO       0.00      0.00      0.00         2
         YES       0.97      1.00      0.98        60

    accuracy                           0.97        62
   macro avg       0.48      0.50      0.49        62
weighted avg       0.94      0.97      0.95        62

In [35]:
from sklearn.linear_model import LogisticRegression

In [36]:
log_clf = LogisticRegression()
log_clf.fit(X_train[["balance_normalized","income_normalized"]], y_train)
predictions = log_clf.predict(X_test[["balance_normalized","income_normalized"]])
test_accuracy = accuracy_score(y_test, predictions)
test_accuracy

0.967741935483871

In [37]:
log_clf = LogisticRegression()
log_clf.fit(X_train[["balance_normalized","income_normalized"]], y_train)
predictions = log_clf.predict(X_test[["balance_normalized","income_normalized"]])
test_accuracy = accuracy_score(y_test, predictions)
test_accuracy

0.967741935483871

In [38]:
cm = confusion_matrix(y_test, predictions)
pd.DataFrame(cm, columns = ["No", "Yes"], index = ["No", "Yes"])

     No  Yes
No    0    2
Yes   0   60

In [39]:
print(classification_report(y_test,predictions))

              precision    recall  f1-score   support

          NO       0.00      0.00      0.00         2
         YES       0.97      1.00      0.98        60

    accuracy                           0.97        62
   macro avg       0.48      0.50      0.49        62
weighted avg       0.94      0.97      0.95        62